<!--Random username genrator, password repeat etc-->

<!DOCTYPE HTML>

<html lang="en">

  <head>
      <title>Sign up!</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/navbar.css') }}">
  </head>

  <body>

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Group Expense Manager</a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="{{ url_for('index') }}">HOME</a></li>
              <li><a href="#about">ABOUT</a></li>
              <li><a href="{{ url_for('register') }}">REGISTER</a></li>
              <li><a href="{{ url_for('login') }}">LOGIN</a></li>
              <li><a href="#contact">CONTACT</a></li>
            </ul>
          </div>
        </div>
    </nav> 
    <br>
    <br> 
    <br>
    <br>
    <br>  

    {%if notUniq%}
    <div class="container">
      <div class="alert alert-danger alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Invalid signup:</strong> Username already exists
      </div>
    </div>
    {%endif%}
    <div class="container">
      <h3>SIGN UP</h3>
        <p>Already have an account? Login <a href="{{ url_for('login') }}">here</a>
        <form class="form-horizontal" action="{{ url_for('register') }}" method="post">
          <div class="form-group">
              <label class="control-label col-sm-2" for="username">Username:</label>
              <div class="col-sm-10">
              <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input type="text" class="form-control" name="username" id="username" maxlength="30" placeholder="Username" required/>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="email">Email:</label>
            <div class="col-sm-10">
              <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
              <input type="email" class="form-control" name="email" id="email" maxlength="256" placeholder="Enter email" required/>
              </div>
            </div>
          </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="password">Password:</label>
          <div class="col-sm-10">          
             <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span> 
              <input type="password" class="form-control" name="password" id="password" minlength="4" maxlength="20" placeholder="Password" required/>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="password">Confirm password:</label>
          <div class="col-sm-10">          
             <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span> 
              <input type="password" class="form-control" name="password_confirm" id="password_confirm" placeholder="Re-enter password" oninput="check(this)" required/>
              <script language='javascript' type='text/javascript'>
                function check(input) {
                if (input.value != document.getElementById('password').value) {
                  input.setCustomValidity('Passwords do not match');
                } else {
                    input.setCustomValidity('');
                }
              }
              </script>
             </div>
          </div>
        </div>
        <div class="form-group">        
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Submit</button>
          </div>
        </div>
      </form>
    </div>
		
  </body>

</html>

